@use "../var" as *;
@use "../mixins" as *;

.footer {
	position: relative;
	width: 100vw;
	padding: 56px 0;
	align-items: center;
	background-color: $footer-background;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		height: 4px;
		width: 100%;
		background-color: $color-active;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		width: 65px;
		height: 65px;
		margin-right: 40px;
		overflow: hidden;

		&-img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		&-title {
			@include fontRoboto(normal, 400);
			color: $color-brown;
			font-size: 14px;
			margin-bottom: 5px;
		}

		&-link {
			@include fontRoboto(normal, 700);
			color: $color-brown;
			font-size: 17px;
			transition: all 250ms;

			&:hover {
				color: $color-active;
			}
		}
	}

	&__social-list,
	&__nav-list {
		display: flex;
		list-style: none;
	}

	&__social-list {
		margin-left: 60px;

		&__item {
			margin-right: 15px;

			&:last-child {
				margin-right: 0;
			}

			&-link svg path {
				fill: $color-brown;
				transition: all 250ms;
			}

			&-link:hover svg path {
				fill: $color-active;
			}
		}
	}

	&__nav-list {
		margin-left: auto;

		&__item {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			&-link {
				@include fontRoboto(normal, 400);
				font-size: 16px;
				color: $color-brown;
				transition: all 250ms;

				&:hover {
					text-decoration: underline;
					color: $color-active;
				}
			}
		}
	}
}