@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "BebasNeue";
	src: local("BebasNeueRegular"),
	url("/fonts/BebasNeueRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
