* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	height: 100dvh;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}