$header-height: 56px;
$footer-height: 170px;

$header-background: #635854;
$footer-background: #d7d7d7;

$color-brown: #635854;
$color-white: #fff;
$color-active: #3596f5;
$color-active-hover: #2689ec;